.slider {
  @apply flex h-full scroll-smooth relative;
  scroll-snap-type: x mandatory;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slide {
  @apply h-full min-w-full pointer-events-none;
  scroll-snap-align: start;
}

.sliderWrapper {
  @apply relative contents;
}

.navButton {
  @apply w-7 h-7 cursor-pointer bg-white opacity-0 scale-0 rounded-full absolute backdrop-blur-md top-1/2 -translate-y-1/2 mx-2 transition-all duration-200 text-2xl grid content-center justify-center z-20 hover:scale-110 hover:opacity-100;
}

.navButtonEnabled {
  @apply opacity-70 scale-95;
}

.navLeft {
  inset-inline-start: 0;
}

.navRight {
  inset-inline-end: 0;
}