.portal {
  /* position: absolute; */
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.isOpen {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}
@supports (content-visibility: visible) {
  .portal {
    content-visibility: hidden;
  }
  .isOpen {
    content-visibility: visible;
  }
}
